.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
 
}

h1 {
  color: #fff;
  font-size: 27px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  border-radius: 10px;
  background-color: #2e2d4e;
  max-width: 768px;
  width: 400px;
  margin-bottom: 20px;

  & button {
    border-radius: 30px;
    background-color: #8b8ae1;
    height: 40px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    transition: opacity .3s ease;
  }

  & button:hover {
    opacity: .5;
  }

  & input {
    border: 1px solid #4e456c;
    border-radius: 30px;
    height: 35px;
    background-color: #363653;
    color: #ffffffbd;
    font-size: 16px;
    padding-left: 13px;
    outline: none;
  }
}

.card {
  display: flex;
  justify-content: space-between;
  background-color: #2e2d4e;
  margin: 10px;
  padding: 10px;
  width: 400px;
  border-radius: 10px;

  & p {
    color: #ffffffab;
    font-weight: bold;

    & span {
      font-weight: normal;
    }
  }

  & button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: rgb(209, 22, 22);
    font-size: 1.2em;
    transition: opacity .3s ease;
  }

  & button:hover {
    opacity: .4;
  }
}