* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-shadow: #000 1px 1px;
    
}

footer {
    bottom: 0;
    left: 0;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    background-color: #000000b9;
    text-shadow: #000 1px 1px 1px;
    border-radius: 15px;
}