@charset "UTF-8";

#linear{
    font: normal 1.2em arial;
    color: white;
    width: 97vw;
    height: 100vh;
}

header{
    text-align: center;
}

section{
    background-color: rgba(255, 255, 255, 0.644);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    height: 370px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.308);
    color: black;
}

#msg{
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.692);
    text-align: center;
}

#atualizar{
    position: relative;
    display: block;
    margin: auto;
    padding: 9px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.308);
    border: 2px solid #00000091;
    transition: border-width .1s ease;
}

#atualizar:hover{
    border-width: 4px;
    color: black
}

#atualizar::before{
    content: "";
    position: absolute;
    top: -15px;
    right: -15px;
    bottom: -15px;
    left: -15px;
    border-radius: inherit;
    background: transparent;
}

#atualizar::before{
    pointer-events: none;
    
}

footer{
    text-align: center;
    font-style: italic;
}

#imagem{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    display: block;
    margin: 20px auto;
    
}