@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: url(imagens/pexels-furknsaglam-1596977-3109671.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 30px;

    
}

.container {
    max-width: 768px;
    width: 100%;
    min-height: 600px;
    margin: 0 auto;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 30px;

    background-color: #eeeeee1e;
    border-radius: 10px;
    backdrop-filter: blur(4px);

}

h1 {
    color: #D54B29;
    text-align: center;
    font-size: 28px;
    margin-top: 20px;
}

input {
    width: 300px;
    height: 35px;
    padding: 20px;
    border: none;
    background-color: #333;
    border-radius: 50px;
    color: #eee;
    
    outline: 2px solid #a5472d;
    outline-offset: 1px;
    transition: outline-offset .3s ease, outiline-color .3s ease;
}

input:hover {
    outline-offset: 0;
}

button {
    border: none;
    border-radius: 20px;
    width: 120px;
    height: 30px;
    background-color: #c9573b;
    color: #fff;
    cursor: pointer;
    transition: width .3s, height .2s ease;
}

button:hover {
    border: 1px solid rgba(0, 0, 0, 0.212);
    width: 100px;
    height: 35px;
    background-color: #a5472d;
}

button:active {
    background-color: #a8523a;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

li {
    
    background-color: #333333b4;
    padding: 15px;
    margin: 10px auto;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

span {
    color: rgba(255, 0, 0, 0.747);
    font-size: 18px;
    cursor: pointer;
}