@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: rgb(15, 15, 15);
    padding: 20px;
}

.container {
    position: relative;
    width: 100%;
    min-height: 400px;
    max-width: 768px;
    background: linear-gradient(90deg, rgba(110, 110, 110, 1) 20%, rgba(150, 143, 143, 1) 82%);
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    gap: 10px;
    padding: 25px;
    border-radius: 12px;
}

h1 {
    text-align: center;
    font-size: 40px;
    
    background: linear-gradient(90deg, #b1b1b1, #ffffff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    filter: drop-shadow(1px 1px 2px black);
    margin-bottom: 35px;
}

h2 {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    background: linear-gradient(90deg, #dbdbdb, #ffffff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    filter: drop-shadow(1px 1px 2px black);
}

#inputTarefa {
    height: 45px;
    border-radius: 40px;
    padding: 15px;
    outline: 2px solid rgb(66, 66, 66);
    border: 2px solid transparent;
    color: black;
    transition: outline-width 5s ease;
}

#inputTarefa:focus {
    outline-width: 3px;
}

#btnadc {
    color: rgb(61, 61, 61);
    height: 50px;
    width: 50%;
    margin: 0 auto;
    border-radius: 35px;
    border: 2px solid rgb(66, 66, 66);
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color .3s ease;
}

#btnadc:hover {
    background-color: rgba(0, 0, 0, 0.801);
    color: #eee;
}

ul {
    list-style: none;
    
    li {
        background-color: rgb(230, 230, 230);
        border-radius: 12px;
        padding: 10px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        margin: 20px auto;

    }
}

span {
    color: rgba(255, 0, 0, 0.87);
    font-size: 18px;
    cursor: pointer;
    transition: opacity .2s ease;
}

span:hover {
    opacity: .5;
}

#erro {
    transform: translateY(-20px);
    padding: 0 10px;
    color: rgba(204, 0, 0, 0.904);
    font-weight: normal;
    font-size: 18px;
}

#erroinput {
    height: 45px;
    border-radius: 40px;
    padding: 15px;
    border: 3px solid rgba(204, 0, 0, 0.904);
    outline: none;
}

